/* button {
  width: 86px;
} */
* {
  padding: 0;
  margin: 0;
}
#carouselImg {
  height: 600px;
}
.companyTitle {
  color: #e33e32;
}
.border-para {
  height: 4px;
  width: 65px;
  font-weight: 800;
  background: #e33e32;
}
.paraHome {
  line-height: 30px;
  font-size: 18px;
}
