/* button {
  width: 86px;
} */
.footer {
  margin-top: 50px;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
#butto {
  width: 120px;
}
.active {
  color: red !important;
  /* background: red; */
}
#carouselImg {
  height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
}
.companyTitle {
  color: #e33e32;
}
.border-para {
  height: 4px;
  width: 65px;
  font-weight: 800;
  background: #e33e32;
}
.paraHome {
  line-height: 30px;
  font-size: 18px;
}
.position-sticky {
  z-index: 1;
}
